doctype html
html(lang="es")
  head
    title ADMINISTRADOR
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css", rel="stylesheet")
    link(rel="stylesheet", href="/styles.css")
    style.
      body {
        background-color: #fef6e4;
        font-size: 1.2rem;
        color:rgb(105, 74, 74);
      }
      .card-container {
        text-align: center;
      }
      .card {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        transition: transform 0.3s, box-shadow 0.3s;
      }
      .card:hover {
        transform: scale(1.05);
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
      }
      .card-description a {
       text-decoration: none !important;
      color: inherit; /* Mantiene el mismo color del texto */
      }

      .btn-custom {
        background-color:rgb(68, 102, 116);
        border: none;
        color: #fef6e4;
        font-weight: bold;
        text-transform: uppercase;
        padding: 10px 20px;
        font-size: 1rem;
        transition: background-color 0.3s;
        width: 100%;
      }
      .btn-custom:hover {
        background-color: #2a9d8f;
       text-decoration: none !important;
      }



      .dropdown-menu {
        min-width: 250px;
      }
      .card-title {
        margin-bottom: 10px;
      }
      .card-text {
        font-size: 0.9rem;
        margin-top: 10px;
      }
      .card-footer {
        font-size: 0.9rem;
        color:rgb(107, 108, 114);
        margin-top: 10px;
      }

      /* Estilos para las descripciones fuera de las tarjetas */
      .card-description {
        font-size: 0.9rem;
        margin-top: 10px;
        color:rgb(229, 229, 235);
        text-align: center;
      }
      .row.g-5 {
        display: flex;
      }

      .card-container {
        flex: 1;
        display: flex;
        flex-direction: column;
      }

      .card {
        flex: 1;
        height: 100%;
      }
      .card img {
        height: 250px; /* o el valor que prefieras */
        width: auto;
        object-fit: cover;
      }





  body
    .container.my-5
      br
      h1.text-center.mb-5 PANEL DE ADMINISTRACION 
      br
      br
      br

      .row.g-5.text-center
        .col-md-6
          .card-container
            .card
              img(src="/imagenes/prefesionales.avif", alt="Profesionales y Especialidades", class="img-fluid rounded", style="max-width: 300px;") 
              a.btn-custom(href="/medicos") PROFESIONALES Y ESPECILIDADES 
               
             
          .card-description
            br
            p Administrar Profesionales y Especialidades.
            P Modifica, elimina o crea nuevos profesionales y especialidades en el sistema.
        .col-md-6
          .card-container
            .card
              img(src="/imagenes/th.jpg", alt="Profesionales y Especialidades", class="img-fluid rounded", style="max-width: 300px;") 
              a.btn-custom(href="/editAgenda") CONFIGURAR HORARIOS
             
                 
              a.btn-custom(href="/create-agenda") GENERAR NUEVA AGENDA

          .card-description
            
            br
            p Configura los horarios y agendas de los profesionales.


  script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js")
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js")





